@font-face {
    font-family: 'Android';
    src: url(../arquivos/idroid.otf);
}

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #EBE5C5;
}

header {
    background-image: linear-gradient(to bottom, rgb(50, 193, 120), rgb(30, 67, 49));
    text-align: center;
    color: white;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.671);
}

main {
    background-color: white;
    box-shadow: 0px 3px 20px 5px rgb(0 0 0 / 20%);
    max-width: 1000px;
    margin: auto;
}

h1 {
    padding: 30px;
}

header > p {
    padding-bottom: 30px;
}

h2 {
    font-family: 'Android', Times, serif;
    color: rgb(43, 107, 76);
    text-indent: 20px;
}

ul, ol, li {
    list-style: none;
    display: inline-block;
    margin: 5px;
}

#navegacao {
    text-align: left;
}

.item-lista-navegacao {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.788);
}

.item-lista-navegacao:hover {
    background-color: rgb(54, 122, 90);
}

.artigos {
    font-family: 'Android', Times, serif;
    color: rgb(43, 107, 76);
    background-image: linear-gradient(to right, #9de2bc, #f3f3f3);
}

p{
    text-indent: 20px;
    padding: 15px;
    margin: 3px;
}

h3 {
    padding: 10px;
    background-color: rgb(30, 67, 49);
    color: white;
    max-width: 960px;
    margin: auto;
    text-indent: 20px;
    border-radius: 10px 10px 0px 0px;
}

#extra {
    background-color: #9de2bc;
    max-width: 980px;
    margin: auto;
}

footer {
    background-color: rgb(5, 36, 21);
    color: white;
    text-align: center;
}

.links {
    background-color: #6fd48d;
    font-weight: bold;
    color: rgb(5, 36, 21);
    text-decoration: none;
    padding: 2px;
}

.links:hover {
    text-decoration: underline;
}

.links::after{
    content: '🔗';
}