div > p {
    display: none;
}

div:hover > p {
    display: block;
    background-color: blueviolet;
    color: aliceblue;
    text-align: center;
}

.especial::before {
    content: '>>';
    font-weight: lighter;
}

.especial::after {
    content: '<<';
    font-weight: lighter;
}

.links::before {
    content: '=> ';
    font-weight: bold;

}

a:visited{
    color: brown;
}

a:hover{
    background-color: rgb(167, 203, 204);
}